<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coin Market</title>

  <script src="https://kit.fontawesome.com/9047f4ba29.js" crossorigin="anonymous"></script>
  
</head>
<body>
  <div class="container">
    <h1 class="title">Coin Market Rush </h1>
  
  
    <div class="buscador">
      <div class="buscador__barra">
        <div class="buscador__input">
          <input type="text" placeholder="Buscar"
          class="form-control bg-dark text-light border-0 my-4 text-center rounded-0"
          (keyup)="searchCoin()"
          [(ngModel)]= "searchText"
  
          >
        </div>
  
      </div>
    </div>
  
  <table class= "table table-dark">
    <thead class="titulos">
      <tr>
        <th *ngFor="let title of titles">
          {{title}}
        </th>
      </tr>
    </thead>
    <tbody class="body__coins">
      <tr *ngFor="let coin of filteredCoins; let i = index">
        <td class="text-muted">
          {{i+1}}
        </td>
        <td>
          <img [src]="coin.image" alt="{{coin.name}}" style="width: 2rem;">
          <span class="ms-3">
            {{coin.name}}
          </span>
          <span class="text-muted text-uppercase ms-2">
            {{coin.symbol}}
          </span>
        </td>
        <td>
          {{coin.current_price.toLocaleString()}} US$
        </td>
        <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'">
          {{coin.price_change_percentage_24h.toLocaleString()}}%
        </td>
        <td>
          {{coin.total_volume.toLocaleString()}}
        </td>
  
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>