/* You can add global styles to this file, and also import other style files */

body {
    background: #141414;
    color: #fff;
}


.cointainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}


.buscador__input{
    width: 100%;
    height: 56px;
    line-height: 56px;
    background: transparent;
    box-shadow: none;
    border: none;
    font-size: 21px;
    appearance: auto;

}
.title{
    text-align: center;
}

@media (max-width: 800px){
    .container{
        width: 100%;
        justify-content: center;
        margin: auto;
    }
}

@media (max-width: 600px){
    .title{
        font-size: 2rem;
    }
    .container{
        width: 100%;
        justify-content: center;
        margin: auto;

    }
    .table{
        overflow-x: auto;
    }
    
    .buscador__input{
        margin: auto;
        justify-content: center;
    }

}